# Application
PORT=8081
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/garage_billing

# RabbitMQ
RABBITMQ_URL=amqps://user:password@localhost:5671

# Mercado Pago
MERCADO_PAGO_MOCK=true
MERCADO_PAGO_ACCESS_TOKEN=your_sandbox_token_here

# Datadog
DD_API_KEY=your_api_key_here
DD_APP_KEY=your_app_key_here
DD_SERVICE=garage-billing-service
DD_ENV=development
DD_VERSION=1.0.0
DD_AGENT_HOST=localhost
DD_TRACE_ENABLED=true
